html {
  overflow-x: hidden;
  background: #404;
}

body {margin: -1px;}

.block {
  color: rgb(255, 200, 255);
  font-family: 'Quicksand';
  padding: 20px;
  background: #690069;
  border-left: solid 8px rgb(255, 200, 255);
  border-bottom: solid 4px rgb(255, 200, 255);
}

.blocks {
  color: rgb(255, 200, 255);
  font-family: 'Quicksand';
  padding: 20px;
  background: #690069;
  border-top: solid 3px rgb(255, 200, 255);
  border-radius: 15px;
}

h1 {font-size: 30px;}

.title {color: rgb(255, 140, 255);}

.code {color: white;}

li {line-height: 20px;}

nav li {
  line-height: 25px;
  margin-left: -25px;
  color: rgb(255, 140, 255);
}

a {color: white;}

#at {margin-top: 5px;}


/* Groups */
.group {
  padding: 10px 0;
  border-left: solid white;
  border-radius: 25px;
}

p {
  padding: 0;
  margin: 0;
}

.groupblock {
  margin-left: -30px;
}
/* Groups */


.seletor, .attribute {
  color: rgb(255, 140, 255);
  font-size: 15px;
  line-height: 18px;
}

.first {
  display: inline-block;
}