body {
    background-color: #0e9be7;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-shadow: black -1px 1px;
}

h1 {
    font-size: clamp(30px, 8vw, 50px);
    max-width: 300px;
    margin: 30px auto;
    text-align: center;
    color: #0247e8;
    text-shadow: #e4e401 0 2px;
}

nav {
    width: 100px;
    text-align: right;
    float: right;
    margin: 3px 0;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav a:hover {
    color: #eee;
}

main {
    width: 70vw;
    height: 68vh;
    margin: 25px auto 0 auto;
    padding: 0 20px;
    color: white;
    background-color: #0247e8;
    border: solid 2px #003ecf;
    border-radius: 15px;
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}

h5 {
    font-size: 15px;
    margin: 0;
}

hr {
    border: #e4e401 solid 1px;
}

/* Titles */
.function {
    color: yellow;
}

.method {
    color: #ededed;
}

.data-type {
    color: rgb(7, 157, 157);
}

.op {
    color: #03d5fa;
}

.keyword {
    color: #f836ff;
}

.structure {
    color: #f801ae;
}
/* Titles */

li::marker {
    color: #04268e;
}

.def {
    color: #e28f0a;
    list-style-type: square;
    margin-top: 2px;
}

.indent {
    text-indent: 12px;
    margin-bottom: 6px;
}